openapi: 3.1.0
info:
  title: 'Amazon Shield REST Amazon Shield REST API #DescribeSubscription API'
  description: AWS Shield is a managed DDoS protection service that safeguards applications running on AWS. This API enables management of DDoS protections, protection groups, subscriptions, attack details, and emergency engagement settings.
  version: '2016-06-02'
  contact:
    name: AWS Support
    url: https://aws.amazon.com/premiumsupport/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://aws.amazon.com/service-terms/
  x-logo:
    url: https://a0.awsstatic.com/libra-css/images/logos/aws_logo_smile_1200x630.png
servers:
- url: https://shield.us-east-1.amazonaws.com
  description: AWS Shield global endpoint (us-east-1 only)
security:
- sigv4: []
tags:
- name: '#DescribeSubscription'
paths:
  /#DescribeSubscription:
    post:
      summary: Amazon Shield Describe Subscription
      description: Provides details about the AWS Shield Advanced subscription for an account.
      operationId: describeSubscription
      responses:
        '200':
          description: Successful response
      x-amz-target: AWSShield_20160616.DescribeSubscription
      tags:
      - '#DescribeSubscription'
components:
  securitySchemes:
    sigv4:
      type: apiKey
      name: Authorization
      in: header
      description: AWS Signature Version 4
externalDocs:
  description: AWS Shield API Reference
  url: https://docs.aws.amazon.com/waf/latest/DDOSAPIReference/Welcome.html
