openapi: 3.1.0
info:
  title: 'Amazon Shield REST Amazon Shield REST API #DescribeProtection API'
  description: AWS Shield is a managed DDoS protection service that safeguards applications running on AWS. This API enables management of DDoS protections, protection groups, subscriptions, attack details, and emergency engagement settings.
  version: '2016-06-02'
  contact:
    name: AWS Support
    url: https://aws.amazon.com/premiumsupport/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://aws.amazon.com/service-terms/
  x-logo:
    url: https://a0.awsstatic.com/libra-css/images/logos/aws_logo_smile_1200x630.png
servers:
- url: https://shield.us-east-1.amazonaws.com
  description: AWS Shield global endpoint (us-east-1 only)
security:
- sigv4: []
tags:
- name: '#DescribeProtection'
paths:
  /#DescribeProtection:
    post:
      summary: Amazon Shield Describe Protection
      description: Lists the details of a Protection object.
      operationId: describeProtection
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/DescribeProtectionRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeProtectionResponse'
      x-amz-target: AWSShield_20160616.DescribeProtection
      tags:
      - '#DescribeProtection'
components:
  schemas:
    DescribeProtectionResponse:
      type: object
      properties:
        Protection:
          $ref: '#/components/schemas/Protection'
    Protection:
      type: object
      properties:
        Id:
          type: string
        Name:
          type: string
        ResourceArn:
          type: string
        HealthCheckIds:
          type: array
          items:
            type: string
        ProtectionArn:
          type: string
    DescribeProtectionRequest:
      type: object
      properties:
        ProtectionId:
          type: string
        ResourceArn:
          type: string
  securitySchemes:
    sigv4:
      type: apiKey
      name: Authorization
      in: header
      description: AWS Signature Version 4
externalDocs:
  description: AWS Shield API Reference
  url: https://docs.aws.amazon.com/waf/latest/DDOSAPIReference/Welcome.html
