openapi: 3.1.0
info:
  title: 'Amazon Shield REST Amazon Shield REST API #DescribeAttack API'
  description: AWS Shield is a managed DDoS protection service that safeguards applications running on AWS. This API enables management of DDoS protections, protection groups, subscriptions, attack details, and emergency engagement settings.
  version: '2016-06-02'
  contact:
    name: AWS Support
    url: https://aws.amazon.com/premiumsupport/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://aws.amazon.com/service-terms/
  x-logo:
    url: https://a0.awsstatic.com/libra-css/images/logos/aws_logo_smile_1200x630.png
servers:
- url: https://shield.us-east-1.amazonaws.com
  description: AWS Shield global endpoint (us-east-1 only)
security:
- sigv4: []
tags:
- name: '#DescribeAttack'
paths:
  /#DescribeAttack:
    post:
      summary: Amazon Shield Describe Attack
      description: Describes the details of a DDoS attack that is detected.
      operationId: describeAttack
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/DescribeAttackRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeAttackResponse'
      x-amz-target: AWSShield_20160616.DescribeAttack
      tags:
      - '#DescribeAttack'
components:
  schemas:
    SummarizedCounter:
      type: object
      properties:
        Name:
          type: string
        Max:
          type: number
        Average:
          type: number
        Sum:
          type: number
        N:
          type: integer
        Unit:
          type: string
    DescribeAttackResponse:
      type: object
      properties:
        Attack:
          $ref: '#/components/schemas/AttackDetail'
    AttackDetail:
      type: object
      properties:
        AttackId:
          type: string
        ResourceArn:
          type: string
        StartTime:
          type: string
          format: date-time
        EndTime:
          type: string
          format: date-time
        AttackCounters:
          type: array
          items:
            $ref: '#/components/schemas/SummarizedCounter'
        Mitigations:
          type: array
          items:
            $ref: '#/components/schemas/Mitigation'
    Mitigation:
      type: object
      properties:
        MitigationName:
          type: string
    DescribeAttackRequest:
      type: object
      required:
      - AttackId
      properties:
        AttackId:
          type: string
  securitySchemes:
    sigv4:
      type: apiKey
      name: Authorization
      in: header
      description: AWS Signature Version 4
externalDocs:
  description: AWS Shield API Reference
  url: https://docs.aws.amazon.com/waf/latest/DDOSAPIReference/Welcome.html
